@model MedicineViewModel
@{
	ViewData["Title"] = "Add Medicine";
}
<div class="card card-body">
	<h1 class="card-header">
		Add Medicine
	</h1>
	<form class="card-body" method="post" asp-controller="Medicine" asp-action="Add">
@* 		@if (ViewBag.isSuccess == true)
		{
			<div class="alert alert-success alert-dismissible fade show my-2" role="alert">
				Medicine Added Successfully.
				<a class="alert-link" asp-controller="Medicine" asp-action="Index">Click here!</a> to view Medicines.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		} *@
		<div class="row">
			<div class="col-md-6">
				<label asp-for="Medicine.Name">
					Medicine Name:
				</label>
				<input type="text" class="form-control my-2" asp-for="Medicine.Name" />
				<span class="text-danger" asp-validation-for="Medicine.Name"></span>
			</div>
			<div class="col-md-6">
				<label asp-for="Medicine.GroupId">
					Medicine Group:
				</label>
				<select class="form-select my-2" asp-for="Medicine.GroupId">
					<option selected>--Select Group--</option>
						@foreach(var group in Model.Groups)
						{
							<option value=@group.GroupId>@group.Name</option>
						}
				</select>
				<span class="text-danger" asp-validation-for="Medicine.GroupId"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label asp-for="Medicine.Price">Price:</label>
				<input class="form-control my-2" asp-for="Medicine.Price"/>
				<span class="text-danger" asp-validation-for="Medicine.Price" type="number" min="0" step="any"></span>
			</div>
			<div class="col-md-4">
				<label asp-for="Medicine.Quantity">Quantity:</label>
				<input class="form-control my-2" asp-for="Medicine.Quantity" type="number" min="1"/>
				<span class="text-danger" asp-validation-for="Medicine.Quantity" ></span>
			</div>
			<div class="col-md-4">
				<label asp-for="Medicine.ExpiryDate">ExpiryDate:</label>
				<input type="date" class="form-control my-2" asp-for="Medicine.ExpiryDate" />
				<span class="text-danger" asp-validation-for="Medicine.ExpiryDate"></span>
			</div>
		</div>
		<div class="">
			<label asp-for="Medicine.Description">Description</label>
			<textarea class="form-control my-2" rows="3" asp-for="Medicine.Description"></textarea>
		</div>
		<input type="submit" class="btn btn-primary my-2" value="Add" />
	</form>
</div>